@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#F3F2FA];
}

.page-height {
  height: calc(100vh - 6rem);
}
.authPageHeigth {
  height: calc(100vh +1rem);
}
/** Asset commponent */
.nav-Asest-Btn {
  @apply bg-gray-300 px-4 py-2 tracking-wider text-orange-cus-1 transition-all;
}
.activesBTn {
  @apply bg-orange-cus-1 text-white;
}
#navButton:last-child {
  @apply rounded-tr-lg rounded-br-lg;
}

#navButton:first-child {
  @apply rounded-tl-lg rounded-bl-lg;
}
/* #navButton:nth-child(2) {
  @apply mr-3;
} */

/** Asset History */
.tableAsset {
  @apply grid grid-cols-10 items-center justify-center border-gray-400 py-3 text-center;
}

/****** INBOX   *******/
.messageHeights {
  height: calc(100vh - 150px);
  overflow-y: auto;
}
.messageContainerHeight {
  height: calc(100vh - 160px);
}
.messageWrapper {
  min-height: 100%;
}

.test {
  @apply border border-red-500;
}
/* .teste {
  border: none
} */
.hover {
  @apply transition-all hover:bg-zinc-500;
}
