@tailwind base;
@tailwind components;
@tailwind utilities;

.page-height {
  height: calc(100vh - 6rem);
}

/** Asset commponent */
.nav-Asest-Btn {
  @apply px-4 py-2 bg-gray-300 text-orange-cus-1 transition-all tracking-wider;
}
.activesBTn {
  @apply text-white bg-orange-cus-1;
}
#navButton:last-child {
  @apply rounded-tr-lg rounded-br-lg;
}

#navButton:first-child {
  @apply rounded-tl-lg rounded-bl-lg;
}
#navButton:nth-child(2) {
  @apply mr-3;
}

/** Asset History */
.tableAsset {
  @apply grid grid-cols-10 justify-center items-center text-center border-gray-400 py-3;
}

/****** INBOX   *******/
.messageHeights {
  height: calc(100vh - 150px);
  overflow-y: auto;
}
.messageContainerHeight {
  height: calc(100vh - 160px);
}
.messageWrapper {
  min-height: 100%;
}
